    .navbar1 {
        position: fixed;
        width: 100%;
        z-index: 999;
        padding: 30px 0;
        font-family: 'Ubuntu', sans-serif;
        transition: all 0.3s ease;
        background-color: black;
    }
    
    .navbar1 .max-width {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .navbar1 .logo a {
        color: #fff;
        font-size: 35px;
        font-weight: 600;
    }
    
    .navbar1 .logo a span {
        color: crimson;
        transition: all 0.3s ease;
    }
    
    .navbar1.sticky .logo a span {
        color: #fff;
    }
    
    .navbar1 .menu li {
        list-style: none;
        display: inline-block;
    }
    
    .navbar1 .menu li a {
        display: block;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        margin-left: 25px;
        transition: color 0.3s ease;
    }
    
    .navbar1 .menu li a:hover {
        color: crimson;
    }
    
    .navbar1.sticky .menu li a:hover {
        color: #fff;
    }
    
    @media (max-width: 947px) {
        .menu-btn {
            display: block;
            z-index: 999;
        }
        .menu-btn i.active:before {
            content: "\f00d";
        }
        .navbar1 .menu {
            position: fixed;
            height: 100vh;
            width: 100%;
            left: -100%;
            top: 0;
            background: #111;
            text-align: center;
            padding-top: 80px;
            transition: all 0.3s ease;
        }
        .navbar1 .menu.active {
            left: 0;
        }
        .navbar1 .menu li {
            display: block;
        }
        .navbar1 .menu li a {
            display: inline-block;
            margin: 20px 0;
            font-size: 25px;
        }
    }